/* make the head and body fullscreen */
body, html {
    height: 100%;
    width: 100%;
}

/* adjust body in order to display background correctly and set the contents in the middle, flex is used*/
body {
    background-image: url("asset/bkgnd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    align-self: center;
    display: flex;
    justify-content: center;
    font-family: "Times New Roman", serif;
}

h1 {
    font-weight: bolder;
    font-size: 28px;
    font-family: "Times New Roman", serif;
}

fieldset {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-family: "Times New Roman", serif;
}

legend {
    font-size: 24px;
    font-weight: bolder;
    font-family: "Times New Roman", serif;
}

#d0 {
    width: 600px;
    height: 250px;
    padding: 50px;
    background-color: honeydew;
    opacity: 0.9;
    border: 20px solid darkgreen;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    font-family: "Times New Roman", serif;
}

#inputbox {
    margin-bottom: 12px;
    font-family: "Times New Roman", serif;
}

#name {
    border: 2px solid forestgreen;
    border-radius: 4px;
    flex-flow: row;
}

#p {
    display: flex;
    margin-top: 10px;
}

.section {
    width: 500px;
    color: black;
    flex-direction: column;
    font-family: "Times New Roman", serif;
    font-weight: normal;
    font-size: 18px;
    justify-content: space-evenly;
}

.options {
    display: flex;
    margin-top: 5px;
    font-family: "Times New Roman", serif;
}

.buttons {
    background-color: white;
    color: black;
    border: 2px solid forestgreen;
    margin-top: 10px;
    padding: 2px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: "Times New Roman", serif;
    transition-duration: 0.4s;
}
.buttons:hover {
    background-color: darkseagreen;
}

#error {
    background-color: red;
    font-weight: bold;
    font-size: 20px;
    font-family: "Times New Roman", serif;
    color: black;
    padding: 10px;
    position: absolute;
    top: 20px;
    visibility: hidden;
    border-radius: 10px;
}